---
title: Open Source
suppress_header: true
extra_css:
  - open-source.css
extra_js:
  - open-source.js
  - libs/tweenmax.min.js
---

.blank-header
  %img.image-border.image-border-left{ src: "/images/home/icons-pattern-left.svg" }
  %img.image-border.image-border-right{ src: "/images/home/icons-pattern-right.svg" }
  .header-content
    %img{ src: "/images/icons/explore-open-source.svg" }
    %h1 Explore Open Source
    %p Everyone can contribute
    %a.btn.cta-btn.accent{ href: "https://gitlab.com/users/sign_in" } Sign up for GitLab
.content-container
  .content.tile
    %p
      Open source software is a great way to learn new skills and hone existing ones, while perfecting products that are used and loved by millions around the world. Open source inspires us in a way that nothing else quite does.
      %a{ href: "/history", target: "_blank" } Dmitriy
      needed a tool to help his own team collaborate better, so he
      %a{ href: "/team/#dzaporozhets", target: "_blank" } created GitLab
      as an open source project from his home in Kharkiv, Ukraine.
    %p
      Seven years later, we reached 2,000
      %a{ href: "http://contributors.gitlab.com/", target: "_blank" } contributors,
      and we’re the proud home of hundreds of thousands of public projects built by
      %a{ href: "/community", target: "_blank" } our incredible community.
      Now, we’re removing the barrier to entry for newcomers by offering a single tool, simplified workflow, and slick onboarding experience.
    %p
      To stay true to our mission of being good
      %a{ href: "/stewardship" } open source stewards,
      public projects on GitLab.com
      %a{ href: "/2018/06/05/gitlab-ultimate-and-gold-free-for-education-and-open-source/" } get access
      to our
      %a{ href: "/pricing/#gitlab-com" } highest tier of features
      for free, plus 50,000 free CI pipeline minutes.
  .content.spotlight
    %h2.margin-bottom30 FOSS Spotlight: Gnome
    %iframe{ src: "https://www.youtube.com/embed/v6GTrbfe9xk", allowfullscreen: "" }
  .content.quote
    %blockquote
      .blockquote-background#blockquote-background
      .flex-container.flex-column
        %p "Free software really democratizes things and allows more people to contribute to solving the world's problems."
        %p.author
          Nuritzi Sanchez
          %br President, Board of Directors, GNOME
  .content.popular-projects
    %h2.margin-bottom30 Popular projects
    .flex-container
      %a.tile.tile-animated{ href: "https://gitlab.com/inkscape/inkscape", target: "_blank" }
        %img.tile-logo{ src: "/images/open-source/inkscape-logo.svg" }
        .tile-content
          %h3 Inkscape
          %p View the project on GitLab
      %a.tile.tile-animated{ href: "https://gitlab.com/fdroid/fdroidclient/", target: "_blank" }
        %img.tile-logo{ src: "/images/open-source/fdroid-logo.svg" }
        .tile-content
          %h3 Fdroid
          %p View the project on GitLab
  .content.tweets
    %h2.margin-bottom30 What people are saying
    .flex-container
      %blockquote.twitter-tweet{"data-lang" => "en"}
        %p{:dir => "ltr", :lang => "en"}>
          Gnome has moved to Gitlab!
          %a{:href => "https://t.co/SqvJ8w6tXl"} https://t.co/SqvJ8w6tXl
          %br/
          = succeed "It's" do
            %br/
        — Wilfred Hughes (@_wilfredh)
        %a{:href => "https://twitter.com/_wilfredh/status/1002284495775682560?ref_src=twsrc%5Etfw"} May 31, 2018
      %blockquote.twitter-tweet{"data-lang" => "en"}
        %p{:dir => "ltr", :lang => "en"}>
          Great to see Inkscape, the superb
          %a{:href => "https://twitter.com/hashtag/FOSS?src=hash&ref_src=twsrc%5Etfw"} #FOSS
          vector drawing app, doing the ethically consistent thing - moving to Gitlab.
          %a{:href => "https://t.co/7KiTNV2JcJ"} https://t.co/7KiTNV2JcJ
        — Dave Lane (@lightweight)
        %a{:href => "https://twitter.com/lightweight/status/874381422567407616?ref_src=twsrc%5Etfw"} June 12, 2017
      %blockquote.twitter-tweet{"data-lang" => "en"}
        %p{:dir => "ltr", :lang => "en"}>
          Mass projects migration test to
          %a{:href => "https://twitter.com/gitlab?ref_src=twsrc%5Etfw"} @gitlab
          has been successful, we are now ready for a full switch by next week!
          %a{:href => "https://t.co/VnuU13Q8Jc"} https://t.co/VnuU13Q8Jc
        — Carlos Soriano (@csoriano1618)
        %a{:href => "https://twitter.com/csoriano1618/status/998301363321876480?ref_src=twsrc%5Etfw"} May 20, 2018
      %script{:async => "", :charset => "utf-8", :src => "https://platform.twitter.com/widgets.js"}
  .content.opensource-get-started
    %h2 Get Started
    %p.margin-bottom30 We think there’s something magical about building free software with free software.
    .flex-container
      %a.tile.tile-animated{ href: "/community", target: "_blank" }
        %img.tile-icon.margin-bottom30{ src: "/images/icons/solid-icons/community-icon.svg" }
        .tile-content
          %h3 Community Resources
      %a.tile.tile-animated{ href: "https://gitlab.com/explore/projects/starred", target: "_blank" }
        %img.tile-icon.margin-bottom30{ src: "/images/icons/solid-icons/trending-icon.svg" }
        .tile-content
          %h3 Trending Projects
    .flex-container
      %a.tile.tile-animated{ href: "https://gitlab.com/gitlab-org/gitlab-development-kit/", target: "_blank" }
        %img.tile-icon.margin-bottom30{ src: "/images/downloads/logo.svg" }
        .tile-content
          %h3 GitLab Development Kit
      %a.tile.tile-animated{ href: "/2017/11/01/gitlab-switches-to-dco-license", target: "_blank" }
        %img.tile-icon.margin-bottom30{ src: "/images/icons/solid-icons/docs-icon.svg" }
        .tile-content
          %h3 Why we switched to DCO
