%a.hello-bar.animated{ href: '/webcast/starting-scaling-devops' }
  .hello-bar-content
    -# = image_tag "/images/home/gcp-logo.png", srcset: "/images/home/gcp-logo@2x.png 2x"
    %p
      Register for Starting and Scaling DevOps with Gary Gruver on June 19. 
